:root {
  --color-primeri-light: #8a50e650;
  --color-primeri: #8950e6;
  --color-primeri-dark: #39107a;
  --color-title-text: #101010;
  --color-smal-text: #515052;
  --color-sction: #8c5dd810;
  --color-sction-dark: #829ee9ce;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ********************* */
/* form syle */
/* ********************** */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin: 4rem 0 2rem 0;
}

.user-icon {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-primeri-light);
  border-radius: 30px;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.grup {
  width: 50%;
  display: flex;
  position: relative;
}
input {
  font-size: 1.9rem;
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: var(--color-primeri-light);
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1rem;
}

.arror-massage {
  width: 15.3rem;
  font-size: 1.4rem;
  position: absolute;
  bottom: 4rem;
  left: 0;
  color: rgb(168, 13, 13);
  padding: 1rem 0rem;
  text-align: left;
}
.arror-massage ion-icon {
  position: absolute;
  left: 14.4rem;
  right: 0;
  bottom: -4.6rem;
  color: green;
}

.login-button {
  width: 50%;
  margin-top: 1rem;
}

.sparited {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.9rem;
}

.login-google {
  width: 50%;
  margin-bottom: 0.6rem;
}
.login-form a {
  text-decoration-line: underline;
  color: var(--color-primeri-dark);
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.login-form a:hover {
  text-decoration: none;
  opacity: 0.6;
}

/* ----------- genral style --------------- */
ul li {
  list-style: none;
}

button {
  background-image: linear-gradient(
    to right,
    var(--color-primeri-dark),
    var(--color-primeri)
  );
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  transition: all 0.2s linear;
}
button:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
}

button:active {
  transform: translatey(2px);
  opacity: 1;
}

h2 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.5px;
  color: var(--color-title-text);
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--color-smal-text);
}

p {
  font-size: 1.7;
  line-height: 1.3;
  letter-spacing: -0.3px;
  word-wrap: break-word;
  word-spacing: -1.2px;
  color: var(--color-smal-text);
}
.highlte-text {
  color: var(--color-primeri);
}

/* ******************************* */
/* header style */
/* ********************************* */
.header {
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  color: var(--color-smal-text);
  font-size: 1.9rem;
  font-weight: 500;
}

.header img {
  width: 23rem;
  height: auto;
}

.header-link {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-login .icon {
  width: 60px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(48, 46, 46, 0.3);
  border-radius: 30px;
  padding: 4px 6px;
  transition: all 0.4s linear;
}
.icon-light {
  cursor: pointer;
}
.incon-dark {
  cursor: pointer;
}
.icon-active {
  background-color: var(--color-primeri-dark);
  font-size: large;
  color: #fff;
  padding: 2px;
  border-radius: 30px;
}
